# Fichiers compilés
*.o
*.exe
a.out
programme
liste_chaine
structure_exemple

# Fichiers de débogage
*.dSYM/

# Fichiers système
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Environnements de développement
.vscode/
.idea/

# Fichiers temporaires
*~
*.tmp
*.temp

# Logs
*.log